# Api Key
GOOGLE_AI_API_KEY=google_ai_api_key
GOOGLE_GENERATIVE_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.0-pro:generateContent


# Firebase Setup
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=